<html>
  <head>
    <title>Vizyondaki Filimler</title>
  </head>
  <body>
  <br>
  <h3> KADİR CAN ÇETİN'İN KATIKILARIYLA <br> <small>Hatayda Vizyondaki Filmler</small> </h3>
  
	<table>
	<tr>
		<td>İsim</td>
		<td>PUAN <a href="{{ url_for('sifirla') }}">(GÜNCELLE)</a></td>
	</tr>
  	{% for film in films %}
	  <tr>
	    <td>{{ film.finded_name }}</td>
        <td><a href="{{ film.link }}">{{ film.raiting }}</a></td> 
	  </tr>
    {% endfor %}
	</table>
  <br><br>
	{% for site in sites %}
		<a href="{{ site }}">{{ site }}</a> </br>
	{% endfor%}
----------------------------------------

    <br>
    <br>
    <br>
    Aşağıdaki Filmiler İmdbde Bulunamadı:
    <br>
  	{% for film in not_fond_films %}
        {{ film }}
        <br>
    {% endfor %}
    <br>
    
  </body>
</html> 